<center>
  <% @categories.each do |cat, gifs| %>
    <justify>
      <a href="#<%= cat %>"><%= cat %></a> |
  <% end %>
</center>
<% @categories.each do |cat, gifs| %>
  <div class="well col-md-12 border">
    <a name="<%= cat %>"></a>
    <h1 id="greeting">
    <div id="<%= cat %>">
      <%= cat %>
    </h1>
    <center>
      <% gifs.each do |gif| %>
        <p>
          <img src="<%= gif.image_path %>">
        </p>
        <p>
          <%= link_to "Unfavorite", unfavorite_path(gif), method: :delete, class:'btn' if gif.users.include?(current_user)%>
          <%= link_to "Favorite", new_favorite_path(gif), method: :post, class:'btn' if gif.users.exclude?(current_user) %>
          <%= facebook_button :facebook=> {:send=> 'true', :url=> "#{gif.image_path}"} %>
        </p>
      <% end %>
    </div>
<% end %>
  </div>
    </center>
</div>
